@model InterviewDemo.ViewModel.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.Customers.Any())
{
    <table>
        @foreach (var item in Model.Customers)
        {
            string update = string.Empty;
            update = item.updatedate.HasValue ? ((DateTime)item.updatedate).ToString("yyyy/MM/dd hh:mm:ss") : "";
            <tr>
                <td>@item.lastname@item.firstname</td>
                <td>@item.email</td>
                <td>@item.age</td>
                <td>@item.birthday.ToString("yyyy/MM/dd")</td>
                <td>@item.createdate.ToString("yyyy/MM/dd hh:mm:ss")</td>
                <td>@update</td>
            </tr>
        }
    </table>
}else
{
    <p>查無資料</p>
}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = "@Html.Raw(TempData["message"])";
        alert(message);
    </script>
}

